RADAGENT_ICON16 RCDATA "..\\resources\\MenuIcon-16.png"
RADAGENT_ICON32 RCDATA "..\\resources\\MenuIcon-32.png"
LANG_EN RCDATA "lang\\en.json"
LANG_JA RCDATA "lang\\ja.json"
LANG_DE RCDATA "lang\\de.json"
LANG_FR RCDATA "lang\\fr.json"
LANG_KO RCDATA "lang\\ko.json"
